*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header{
    max-width: 100%;
    height: 50px;
    background-color: azure;
    display: flex;
    justify-content: space-between;
}

.box-header-left, .box-header-right{
    max-width: 30%;
    background-color: aqua;
    align-content: center;
    display: flex;
}

.box-header-left > *,
.box-header-right > *
{
    align-self: center;
}

/* main top */
.top{
    background-color: rgb(144, 245, 245);
    width: 100%;
}

.box-big{
    width: 1200px;
    height: 400px;
    margin: 0 auto;
}

.top .box-big{
    background-color: antiquewhite;
    content: "";
    display: table;
    clear: both;
    position: relative;
    top: 30px;
}

.title-box-big{
    border: 1px solid black;
    width: 100%;
    height: 100px;  
}

.text-box-big{
    border: 1px solid black;
    width: 40%;
    float: left;
}
.image-box-big{
    border: 1px solid black;
    width: 60%;
    height: calc(400px - 100px);
    float: right;
}

/* main center */
.center{
    /* background-color: cadetblue; */
    width: 100%;
    padding: 40px 0;
}

.box-small{
    width: 1000px;
    margin: 0 auto;
    /* background-color: lightskyblue; */
}

/* Prima sezione blocco centrale */

.section-one-center{
    border: 1px solid black;
    background-color: aquamarine;
}

.section-one-center > *{
    margin: 20px 0px;
}

.big-card-top{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    background-color: bisque;
}

.card{
    width: calc(100% / 3 - 20px);
    background-color: aliceblue;
    flex-shrink: 0;
}

.name-card{
    text-align: center;
    border: 1px solid black;
    background-color: beige;
}

.text-card{
    padding: 0px 10px;
    background-color: blanchedalmond;
}

.big-card-bottom{
    width: 100%;
    border: 1px solid black;
    background-color: bisque;
}

.big-card-bottom .text-card{
    display: flex;
    flex-wrap: wrap;
}

.text-carbott-big{
    flex-basis: 70%;
    border: 1px solid black;
}

.text-carbott-small{
    flex-basis: 30%;
    border: 1px solid black;
    text-align: center;
}

/* seconda sezione blocco centrale */
.section-two-center{
    margin: 20px 0;
    border: 1px solid black;
    background-color: rgb(111, 179, 111);
    display: flex;
    justify-content: space-between;
}

.box-center-left{
    max-width: 60%;
    border: 1px solid black;
    height: 200px;
}

.box-center-right{
    max-width: 40%;
    border: 1px solid black;
}

/* terza sezione blocco centrale */
.section-three-center{
    margin: 20px 0;
    background-color: rgb(163, 211, 195);
}

.section-three-center > *{
    padding: 20px 0;
}

.small-card-center{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
    justify-content: space-between;
    height: 700px;
}

.small-card{
    width: calc(100% / 3 - 20px);
    background-color:chocolate;
    height: 300px;
}

/* quinta sezione blocco centrale */
.section-five-center{
    background-color: azure;
    display: flex;
    width: 100%;
    display: inline-flex;
}

.box-left-five, .box-center-five,
.box-right-five{
    width: calc(100% / 3);
    height: 506px;
}

.box-left-five{
    display: flex;
    flex-wrap: wrap;
}

.box-right-five{
    display: flex;
    flex-wrap: wrap;
}

.square1{
    background-color: blueviolet;
    flex-shrink: 0;
    width: 50%;
    padding-top: 50%;
}

.square2{
    background-color: brown;
    flex-shrink: 0;
    width: 50%;
    padding-top: 50%;
}
.square3{
    background-color: rgb(190, 150, 227);
    flex-shrink: 0;
    width: 50%;
    padding-top: 50%;
}
.square4{
    background-color: rgb(142, 205, 242);
    flex-shrink: 0;
    width: 50%;
    padding-top: 50%;
}

.box-center-five{
    padding: 20px;
    max-height: 100%;
    overflow: auto;
}

/* sesta sezione blocco centrale */
.section-six-center{
    background-color: rgb(109, 200, 200);
    width: 100%;
}

.box-six-center{
    width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
    background-color: rgb(111, 179, 111);
    display: flex;
    justify-content: space-between;
}

/* settima sezione blocco centrale */
.section-seven-center{
    margin: 20px 0;
    border: 1px solid black;
}

/* footer */
footer{
    width: 100%;
    background-color: grey;
}

footer .box-big{
    background-color: bisque;
}

.box-list-footer{
    display: flex;
    justify-content: space-between;
    height: 300px;
    border: 1px solid black;
}

.list-footer{
    border: 1px solid red;
    width: calc(100% / 5 - 5px);
}