*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* header */
header{
    background-color: white;
    box-shadow: 0px 1px 5px 2px grey;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.box-header-left, .box-header-right{
    width: 40%;
    align-content: center;
    display: flex;
}

.box-header-left > *,
.box-header-right > *
{
    align-self: center;
    flex-shrink: 0;
}

.box-header-right{
    justify-content: flex-end;
}

.logo{
    padding: 15px;
}

header .logo:hover, 
header li:hover, 
#start:hover{
    border-bottom: 2px solid #0061ff;
    cursor: pointer;
}

.list-header{
    display: flex;
    list-style: none;
}

.list-header > li{
    padding: 10px;
    cursor: pointer;
}

.list-header button{
    padding: 10px;
    border:none;
    background-color: white;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

.button-right{
    display: flex;
    padding-right: 10px;
}

#start a{
    text-decoration: none;
    padding: 2px 10px;
    background-color: #0061ff;
    color: white;
}

#start{
    align-self: center;
    padding: 18px 0;
}

/* main top */
.top{
    background-color: #b4d0e7;
    width: 100%;
    margin-top: 60px;
}

.box-big{
    width: 1000px;
    margin: 0 auto;
}

.top .box-big{
    content: "";
    display: table;
    clear: both;
    position: relative;
    top: 50px;
}

.title-box-big{
    width: 100%;
    height: 150px; 
    font-size: 55px; 
    line-height: 60px;
}

.text-box-big{
    width: 30%;
    float: left;
    font-size: 13px;
}

.card-link{
    text-decoration: none;
    background-color: #0061ff;
    color: white;
    display: inline-block;
    padding: 5px 30px;
    margin: 30px 0;
}

.icon-arrow{
    font-size: 40px;
    color: black;
    padding-top: 70px;
}

.image-box-big{
    width: 70%;
    float: right;
}

img{
    width: 100%;
}

/* main center */
.center{
    width: 100%;
    padding-top: 70px;
}

.box-small{
    width: 800px;
    margin: 0 auto;
}

/* Prima sezione blocco centrale */

.section-one-center > *{
    margin: 20px 0px;
}

h2{
    font-size: 30px;
}

.bill{
    display: flex;
    font-size: 14px;
}

.check{
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid grey;
    align-self: center;
}

.sales{
    padding-left: 3px;
    margin-right: 20px;
}

.check:active{
    border: 4px solid blue;
}

/* carte verticali della prima sezione */
.big-card-top{
    display: flex;
    justify-content: space-between;
}

.card{
    width: calc(100% / 3 - 20px);
    font-size: 13px;
    border: 1px solid grey;
}

.name-card{
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid grey;
}

.text-card{
    padding: 15px;
}

.title-card{
    font-size: 20px;
}

.list-top-text-card{
    list-style: none;
}

.element-list{
    position: relative;
    margin: 30px 0;
}

.text-icon{
    position: absolute;
    left: 20px;
}

.buy{
    color: blue;
}

.short-row{
    width: 50px;
    border: 1px solid lightgray;
    background-color: lightgrey;
    margin: 20px 0px;
}

.text-small-bold{
    font-weight: bold;
}

.list-bottom-text-card{
    list-style: none;
}

.list-bottom-text-card i{
    color: blue;
}

/* effetti sulle card */
/* .card-link:hover{
    transform: scale(1.1);
} */


/* carta orizzontale della prima sezione  */
.big-card-bottom{
    width: 100%;
    border: 1px solid grey;
    font-size: 13px;
}

.big-card-bottom .text-card{
    display: flex;
    flex-wrap: wrap;
}

.text-carbott-big{
    flex-basis: 70%;
   
}

.text-carbott-big *{
    margin: 10px 0px;
}

.text-carbott-small{
    flex-basis: 30%;
    
    text-align: center;
}

/* seconda sezione blocco centrale */
.section-two-center{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.box-center-left{
    max-width: 60%;
}

.box-center-left img{
    width: 100%;
    display: block;
}

.box-center-right{
    max-width: 40%;
    padding-left: 30px;
    font-size: 14px;
    align-self: center;
}

.box-center-right *{
    margin: 20px 0px;
}

.search{
    text-decoration: none;
    border: 1px solid grey;
    background-color: white;
    padding: 10px;
}


/* terza sezione blocco centrale */
.section-three-center{
    margin: 20px 0;
}

.section-three-center > h2{
    padding: 20px 0;
}

.small-card-center{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.small-card{
    width: calc(100% / 3 - 20px);
    font-size: 14px;
}

.img-small-card img{
    width: 100%;
}

.small-card h4{
    margin-bottom: 10px;
}

/* quarta sezione blocco centrale */
.box-center-left{
    margin: 100px 0;
}

.box-center-left > *{
   padding: 30px 0;
}

.box-center-left a{
    color: blue;
}

/* quinta sezione blocco centrale */
.section-five-center{
    background-color: azure;
    display: flex;
    width: 100%;
}

.box-left-five, .box-center-five,
.box-right-five{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.box-left-five{
    display: flex;
    flex-wrap: wrap;
}

.box-center-five{
    padding: 30px;
    height: 100%;
    overflow: auto;
}

.logo-box-five{
    width: 50%;
}

.line{
    width: 150px;
    border: 1px solid grey;
    background-color: grey;
    margin: 20px 0px;
}

.box-center-five p{
    padding: 15px 0;
    font-size: 14px;
}

.box-right-five{
    display: flex;
    flex-wrap: wrap;
}

.square{
    background-color: rgb(138, 43, 226);
    width: 50%;
    height: 50%;
    position: relative;
}

.box-left-five img, .box-right-five img{
    filter: invert(100%);
    max-width: 50%;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.square2{
    background-color: brown;
}

.square3{
    background-color: rgb(190, 150, 227);
}

.square4{
    background-color: rgb(142, 205, 242);
}
/* effetti quinta sezione */
.square1:hover, .square2:hover,
.square3:hover, .square4:hover {
    border: 20px solid rgba(250, 250, 250, 0.2);
}

/* sesta sezione blocco centrale */
.section-six-center{
    background-color: #b4d0e7;
    width: 100%;
}

.box-six-center{
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.box-six-center h2{
    color: #61082b;
}

.card-link-white{
    border: 1px solid white;
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 5px 30px;
}

/* settima sezione blocco centrale */
.section-seven-center{
    margin: 20px 0;
}

.section-seven-center h2{
    padding: 30px 0px;
    font-size: 25px;
    border-bottom: 1px solid grey;
}

.text-box-seven{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding: 20px 0;
}

.text-seven{
    width: 80%;
    font-size: 13px;
    font-weight: bold;
}

.icon-seven{
    width: 20%;
    text-align: center;
    font-size: 13px;
}

/* settima sezione nascosta */

.text-hidden{
    display:none;
    font-size: 13px;
}

.icon-hidden{
    display: none;
}

.text-box-seven:hover .text-hidden{
    display:inline;
}

.text-box-seven:hover .icon-hidden{
    display:inline;
}

.text-box-seven:hover .icon-seven-open{
    display:none;
}


/* footer */
footer{
    width: 100%;
    background-color: rgb(33, 33, 33);
    padding: 20px 0px;
}

footer .box-big{
}

.box-list-footer{
    display: flex;
    justify-content: space-between;
    height: 300px;
}

.list-footer{
    width: calc(100% / 5 - 5px);
}

.list-footer h3{
    padding: 10px 0px;
    color: white;
}

.list-footer ul, .list-footer a{
    list-style: none;
    text-decoration: none;
    line-height: 30px;
    font-size: 13px;
    color: white;
}

.long-row{
    width: 100px;
    border: 1px solid white;
    background-color: white;
    margin: 10px 0px;
}

.language{
    margin: 10px 0px;
    font-size: 12px;
    color: grey;
}